body {
  background-image: url("2080886.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: Rubik;
  color: white;
  font-size: 40px;
  height: 100px;
}

#header {
  line-height: 300px;
}

.topContainer {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.gameInfo {
  border-radius: 50%;
  border: solid 1px lightgray;
  background-color: rgba(50, 24, 139, 0.549);
  color: white;
  font-size: 20px;
  font-family: Rubik;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.gameInfo .gameInfoText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below!
  position: absolute;
  z-index: 1; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.gameInfo:hover .gameInfoText {
  visibility: visible;
}

.gameHeader {
  height: 60px;
}

#joker {
  background-image: url("Joker-Movie-PNG.png");
}
.card {
  margin: 10px 22px 0px 22px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suit {
  margin: 3px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 3px;
  font-size: 40px;
  font-weight: bold;
  font-family: Rubik;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.flipcard {
  background-color: white;
  color: black;
  width: 120px;
  height: 150px;
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-size: 30px;
  font-weight: bolder;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 3%;
  width: 60%;
  margin: 0 auto;
  align-content: space-around;
}

.dealButton {
  margin: 10px;
  color: black;
  border-radius: 25px;
  padding: 10px;
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  font-family: Rubik;
}

.resetButton {
  margin: 10px;
  color: black;
  border-radius: 25px;
  padding: 10px;
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  font-family: Rubik;
  /* position: relative;
  left: 200px; */
}

.gameFooter {
  display: flex;
  background-color: rgba(50, 24, 139, 0.549);
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  top: 30px;
  align-items: center;
}

.gameResult {
  color: white;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 10px;
  font-family: Rubik;
  font-size: 30px;
}

.gameInfoContainer {
  display: flex;
  /* justify-content: flex-end; */
  margin-right: auto;
}

.gameButtons {
  display: flex;
  flex-direction: row;
  /* padding: 3%; */
  /* justify-content: flex-start; */
  margin-left: auto;
}

.game button:hover {
  background-color: rgb(180, 180, 180);
  color: black;
}
